body{
	margin: 0px auto;
	font-family: sans-serif;
}
#navbar-top{

}
#navbar-top ul{
	float: right;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none
}
#navbar-top ul li{
	line-height: 28px;
	padding: 10px 17px 0px 0px; 
	float: left;
}
#navbar-top ul li a{
	text-decoration: none;
	font-size: 13px;
	color: #404040;
}
#navbar-top ul li a #profile-pic{
	height: 30px;
	width: 30px;
	border-radius: 14px;
	background-image: url('../images/koniu.jpg');
}
.wrapper{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#main{
	padding-top: 200px;
	text-align: center;
}
#main img{
	width: 274px;
	height: 93px;
}
#main input[type="text"]{
	margin-top: 15px;
	width: 573px;
	height: 22px;
}
#main #buttons{
	margin-top: 15px;
}
#main #buttons input{
	font-weight: bold;
	font-size: 11px;
	color: #444;
	margin-left: 8px;
	height: 29px;
	outline: none;
	border: 1px solid #dcdcdc;
	background: #f8f8f8;
}
#footer{
	border-top: 1px solid #e4e4e4; 
	position: absolute;
	clear: both;
	bottom: 0;
	height: 40px;
	width: 100%;
	background: #f2f2f2;
}
#footer ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#footer .left{
	float: left;
	margin-left: 15px;
}
#footer .right{
	float: right;
	margin-right: 15px;
}
#footer ul li{
	padding: 10px 17px 8px 12px;
	float: left;
}
#footer ul li a{
	text-decoration: none;
	font-size: 13px;
	color: #404040;
}